frontend/node_modules
backend/js/phonebook-api/node_modules
backend/go/profile-service/profile-service
backend/go/authentication-service/authentication-service
backend/go/contact-service/contact-service
