.rectangle-45 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-57 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-93 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-96 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-59 {
	width: 350px;
	height: 35px;
	padding: 8px 8px 8px 8px;
	background: #512da8;
}
.plain-svg-35 {
	width: 16px;
	height: 16px;
	background: #512da8;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.label-50 {
	width: 156px;
	height: 24px;
	color: #512da8;
	font-family: "Asap";
	font-weight: 400;
	font-size: 15px;
	text-align: left;
}
.label-52 {
	width: 158px;
	height: 26px;
	color: #000000;
	font-family: "Asap";
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
.add-icon-1 {
	width: 18px;
	height: 18px;
	background: #008080;
}
.label-55 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.label-56 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.label-57 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.label-54 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.more-horiz-icon-4 {
	width: 45px;
	height: 45px;
	background: #008080;
}
.favorite-icon-2 {
	width: 24px;
	height: 24px;
	background: #512da8;
}