.iphone-x-4 {
	width: 431px;
	height: 860px;
	background: #000000;
}
.rectangle-41 {
	width: 375px;
	height: 2px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-42 {
	width: 375px;
	height: 4px;
	padding: 8px 8px 8px 8px;
	background: #c8c7cc;
}
.rectangle-40 {
	width: 375px;
	height: 42px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.rectangle-43 {
	width: 375px;
	height: 56px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.rectangle-59 {
	width: 350px;
	height: 35px;
	padding: 8px 8px 8px 8px;
	background: #512da8;
}
.rectangle-44 {
	width: 375px;
	height: 56px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.label-55 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.rectangle-96 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.label-54 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.rectangle-45 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-46 {
	width: 375px;
	height: 56px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.label-56 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.more-horiz-icon-4 {
	width: 45px;
	height: 45px;
	background: #008080;
}
.label-46 {
	width: 31px;
	height: 21px;
	opacity: 50%;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 15px;
	text-align: left;
}
.rectangle-57 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.rectangle-58 {
	width: 375px;
	height: 56px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.plain-svg-35 {
	width: 16px;
	height: 16px;
	background: #512da8;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.label-52 {
	width: 158px;
	height: 26px;
	color: #000000;
	font-family: "Asap";
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
.rectangle-93 {
	width: 358px;
	height: 1px;
	padding: 8px 8px 8px 8px;
	background: #d2dae2;
}
.label-57 {
	width: 197px;
	height: 28px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 17px;
	text-align: left;
}
.label-50 {
	width: 156px;
	height: 24px;
	color: #512da8;
	font-family: "Asap";
	font-weight: 400;
	font-size: 15px;
	text-align: left;
}
.wifi-icon-3 {
	width: 17px;
	height: 12px;
	opacity: 50%;
	background: #000000;
}
.signal-icon-3 {
	width: 17px;
	height: 11px;
	opacity: 50%;
	background: #000000;
}
.rectangle-53 {
	width: 139px;
	height: 6px;
	padding: 8px 8px 8px 8px;
	opacity: 50%;
	background: #000000;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
}
.battery-full-solid-icon-3 {
	width: 20px;
	height: 9px;
	opacity: 50%;
	background: #000000;
}
.add-icon-1 {
	width: 18px;
	height: 18px;
	background: #008080;
}
.favorite-icon-2 {
	width: 24px;
	height: 24px;
	background: #512da8;
}