.account-circle-icon-1 {
	width: 75px;
	height: 75px;
	background: #b3b3ba;
}
.rectangle-81 {
	width: 226px;
	height: 58px;
	padding: 8px 8px 8px 8px;
	background: #512da8;
}
.plain-svg-80 {
	width: 20px;
	height: 17.5px;
	background: #008080;
}
.label-62 {
	width: 225px;
	height: 30px;
	color: #000000;
	font-family: "Quicksand";
	font-weight: 700;
	font-size: 18px;
	text-align: center;
}
.label-63 {
	width: 225px;
	height: 22px;
	color: #b3b3ba;
	font-family: "Asap";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
.account-box-icon-1 {
	width: 20px;
	height: 20px;
	background: #d2dae2;
}
.favorite-icon-1 {
	width: 20px;
	height: 18px;
	background: #d2dae2;
}
.close-icon-1 {
	width: 16px;
	height: 16px;
	background: #008080;
}
.paragraph-10 {
	width: 100px;
	height: 443px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 16px;
	line-height: 3.5;
	text-align: left;
}
.chevron-right-icon-1 {
	width: 7px;
	height: 11.200000000000003px;
	background: #c8c7cc;
}
.chevron-right-icon-2 {
	width: 7px;
	height: 11.200000000000003px;
	transform: rotate(180deg);
	background: #008080;
}
.chevron-right-icon-3 {
	width: 7px;
	height: 11.200000000000003px;
	background: #c8c7cc;
}
.undraw_icons_wdp4 {
	width: 219px;
	height: 144px;
}
.meeting-room-icon-1 {
	width: 24px;
	height: 24px;
	background: #d2dae2;
}