.rectangle-77 {
	width: 225px;
	height: 820px;
	padding: 8px 8px 8px 8px;
	box-shadow: 29px 11px 22px rgba(2, 31, 84, 0.13);
	background: #ffffff;
}
.iphone-x-5 {
	width: 431px;
	height: 860px;
	background: #000000;
}
.label-49 {
	width: 31px;
	height: 21px;
	opacity: 50%;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 15px;
	text-align: left;
}
.more-horiz-icon-3 {
	width: 45px;
	height: 45px;
	background: #008080;
}
.close-icon-1 {
	width: 16px;
	height: 16px;
	background: #008080;
}
.account-circle-icon-1 {
	width: 75px;
	height: 75px;
	background: #b3b3ba;
}
.label-66 {
	width: 166px;
	height: 42px;
	color: #000000;
	font-family: "Imprima";
	font-weight: bold;
	font-size: 30px;
	text-align: left;
}
.account-circle-icon-3 {
	width: 156px;
	height: 156px;
	background: #b3b3ba;
}
.paragraph-3 {
	width: 107px;
	height: 36px;
	color: #abb5be;
	font-family: "Asap";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
}
.rectangle-80 {
	width: 105px;
	height: 21px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.rectangle-81 {
	width: 226px;
	height: 58px;
	padding: 8px 8px 8px 8px;
	background: #512da8;
}
.label-62 {
	width: 225px;
	height: 30px;
	color: #000000;
	font-family: "Quicksand";
	font-weight: 700;
	font-size: 18px;
	text-align: center;
}
.label-63 {
	width: 225px;
	height: 22px;
	color: #b3b3ba;
	font-family: "Asap";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
.paragraph-10 {
	width: 100px;
	height: 443px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 500;
	font-size: 16px;
	line-height: 3.5;
	text-align: left;
}
.rectangle-9 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.paragraph-15 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-76 {
	width: 200px;
	height: 820px;
	padding: 8px 8px 8px 8px;
	background: #3b5998;
}
.plain-svg-80 {
	width: 20px;
	height: 17.5px;
	background: #008080;
}
.chevron-right-icon-2 {
	width: 7px;
	height: 11.200000000000003px;
	transform: rotate(180deg);
	background: #008080;
}
.paragraph-16 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.account-box-icon-1 {
	width: 20px;
	height: 20px;
	background: #d2dae2;
}
.chevron-right-icon-1 {
	width: 7px;
	height: 11.200000000000003px;
	background: #c8c7cc;
}
.horizontal-line-5 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.rectangle-11 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.paragraph-23 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-24 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.favorite-icon-1 {
	width: 20px;
	height: 18px;
	background: #d2dae2;
}
.chevron-right-icon-3 {
	width: 7px;
	height: 11.200000000000003px;
	background: #c8c7cc;
}
.rectangle-12 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.paragraph-19 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.horizontal-line-9 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.chart-4 {
	width: 150px;
	height: 100px;
}
.paragraph-20 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.meeting-room-icon-1 {
	width: 24px;
	height: 24px;
	background: #d2dae2;
}
.settings-icon-2 {
	width: 37px;
	height: 37px;
	background: #008080;
}
.horizontal-line-7 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.rectangle-13 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.horizontal-line-8 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.paragraph-21 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-22 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.wifi-icon-4 {
	width: 17px;
	height: 12px;
	opacity: 50%;
	background: #000000;
}
.battery-full-solid-icon-4 {
	width: 20px;
	height: 9px;
	opacity: 50%;
	background: #000000;
}
.signal-icon-4 {
	width: 17px;
	height: 11px;
	opacity: 50%;
	background: #000000;
}
.undraw_icons_wdp4 {
	width: 219px;
	height: 144px;
}
.rectangle-54 {
	width: 139px;
	height: 6px;
	padding: 8px 8px 8px 8px;
	opacity: 50%;
	background: #000000;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
}