.label-40 {
	width: 124px;
	height: 42px;
	color: #000000;
	font-family: "Asap";
	font-weight: bold;
	font-size: 30px;
	text-align: left;
}
.account-circle-icon-2 {
	width: 156px;
	height: 156px;
	background: #b3b3ba;
}
.settings-icon-1 {
	width: 37px;
	height: 37px;
	background: #008080;
}
.more-horiz-icon-2 {
	width: 45px;
	height: 45px;
	background: #008080;
}
.rectangle-6 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.horizontal-line-2 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.paragraph-8 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-9 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-7 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.horizontal-line-3 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.paragraph-11 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-12 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-8 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.horizontal-line-4 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.paragraph-13 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-14 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-10 {
	width: 360px;
	height: 72px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.horizontal-line-6 {
	width: 327px;
	height: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.paragraph-17 {
	width: 321px;
	height: 16px;
	color: #008080;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: left;
}
.paragraph-18 {
	width: 321px;
	height: 20px;
	color: #212121;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
}
.rectangle-8-copy-10 {
	width: 153px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 5px 10px rgba(81, 45, 168, 0.23);
	background: #008080;
}
.label-1-copy-13 {
	width: 153px;
	height: 38px;
	color: #ffffff;
	font-family: "Asap";
	font-weight: 600;
	font-size: 17px;
	text-align: center;
}
.rectangle-8-copy-9 {
	width: 152px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 5px 10px rgba(81, 45, 168, 0.23);
	background: #008080;
}
.label-1-copy-14 {
	width: 152px;
	height: 34px;
	color: #ffffff;
	font-family: "Asap";
	font-weight: 600;
	font-size: 17px;
	text-align: center;
}
.favorite-border-icon-1 {
	width: 32px;
	height: 32px;
	background: #512da8;
}