.label-1 {
	width: 41px;
	height: 23px;
	color: #008080;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}
.plain-svg-1 {
	width: 12.5px;
	height: 21px;
	background: #008080;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.label-53 {
	width: 158px;
	height: 26px;
	color: #000000;
	font-family: "Asap";
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
.rectangle-2 {
	width: 249px;
	height: 44px;
	padding: 8px 8px 8px 8px;
	background: #428bca;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 3px 3px 0px;
}
.label-1 {
	width: 233px;
	height: 27px;
	color: #999999;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.rectangle-1 {
	width: 45px;
	height: 44px;
	padding: 8px 8px 8px 8px;
	background: #eeeeee;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 0px 0px 3px;
}
.plain-svg-1 {
	width: 21px;
	height: 21px;
	background: #512da8;
}
.account-circle-icon-4 {
	width: 113px;
	height: 113px;
	background: #b3b3ba;
}
.rectangle-3 {
	width: 248px;
	height: 44px;
	padding: 8px 8px 8px 8px;
	background: #428bca;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 3px 3px 0px;
}
.label-2 {
	width: 232px;
	height: 27px;
	color: #999999;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.rectangle-4 {
	width: 45px;
	height: 44px;
	padding: 8px 8px 8px 8px;
	background: #eeeeee;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 0px 0px 3px;
}
.markunread-icon-1 {
	width: 37px;
	height: 33px;
	background: #512da8;
}
.rectangle-5 {
	width: 247px;
	height: 43px;
	padding: 8px 8px 8px 8px;
	background: #428bca;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 3px 3px 0px;
}
.label-3 {
	width: 234px;
	height: 26px;
	color: #999999;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.rectangle-14 {
	width: 47px;
	height: 43px;
	padding: 8px 8px 8px 8px;
	background: #eeeeee;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 0px 0px 3px;
}
.work-icon-1 {
	width: 36px;
	height: 33px;
	background: #512da8;
}
.rectangle-15 {
	width: 247px;
	height: 41px;
	padding: 8px 8px 8px 8px;
	background: #428bca;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 3px 3px 0px;
}
.label-4 {
	width: 233px;
	height: 25px;
	color: #999999;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.rectangle-16 {
	width: 46px;
	height: 41px;
	padding: 8px 8px 8px 8px;
	background: #eeeeee;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 0px 0px 3px;
}
.phone-android-icon-1 {
	width: 35px;
	height: 31px;
	background: #512da8;
}
.rectangle-17 {
	width: 248px;
	height: 43px;
	padding: 8px 8px 8px 8px;
	background: #428bca;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 3px 3px 0px;
}
.label-5 {
	width: 233px;
	height: 26px;
	color: #999999;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.rectangle-18 {
	width: 45px;
	height: 43px;
	padding: 8px 8px 8px 8px;
	background: #eeeeee;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 0px 0px 3px;
}
.call-icon-1 {
	width: 35px;
	height: 33px;
	background: #512da8;
}
.rectangle-8-copy-7 {
	width: 153px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 5px 10px rgba(81, 45, 168, 0.23);
	background: #008080;
}
.label-1-copy-11 {
	width: 153px;
	height: 38px;
	color: #ffffff;
	font-family: "Asap";
	font-weight: 600;
	font-size: 17px;
	text-align: center;
}
.rectangle-8-copy-8 {
	width: 152px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 5px 10px rgba(81, 45, 168, 0.23);
	background: #008080;
}
.label-1-copy-12 {
	width: 152px;
	height: 34px;
	color: #ffffff;
	font-family: "Asap";
	font-weight: 600;
	font-size: 17px;
	text-align: center;
}
.add-a-photo-icon-1 {
	width: 33px;
	height: 33px;
	background: #512da8;
}
.undraw_personal_site_re_c4bp {
	width: 331px;
	height: 200px;
}