.iphone-x-2 {
	width: 431px;
	height: 860px;
	background: #000000;
}
.rectangle-62 {
	width: 378px;
	height: 830px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
}
.label-43 {
	width: 31px;
	height: 21px;
	opacity: 50%;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 15px;
	text-align: left;
}
.heading-3 {
	width: 96px;
	height: 36px;
	color: #008080;
	font-family: "Quicksand";
	font-weight: 700;
	font-size: 26px;
	text-align: left;
}
.label-36 {
	width: 38px;
	height: 19px;
	color: #512da8;
	font-family: "Asap";
	font-weight: 600;
	font-size: 14px;
	text-align: left;
}
.label-41 {
	width: 76px;
	height: 22px;
	color: #d1d6db;
	font-family: "Asap";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.rectangle-51 {
	width: 280px;
	height: 2px;
	padding: 8px 8px 8px 8px;
	background: #ebebeb;
}
.rectangle-52 {
	width: 280px;
	height: 2px;
	padding: 8px 8px 8px 8px;
	background: #ebebeb;
}
.label-37 {
	width: 40px;
	height: 19px;
	color: #512da8;
	font-family: "Asap";
	font-weight: 600;
	font-size: 14px;
	text-align: left;
}
.label-44 {
	width: 140px;
	height: 22px;
	color: #d1d6db;
	font-family: "Asap";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.label-48 {
	width: 36px;
	height: 19px;
	color: #512da8;
	font-family: "Asap";
	font-weight: 600;
	font-size: 14px;
	text-align: left;
}
.rectangle-60 {
	width: 280px;
	height: 2px;
	padding: 8px 8px 8px 8px;
	background: #ebebeb;
}
.label-58 {
	width: 134px;
	height: 22px;
	color: #d1d6db;
	font-family: "Asap";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.signal-icon-2 {
	width: 17px;
	height: 11px;
	opacity: 50%;
	background: #000000;
}
.rectangle-56 {
	width: 280px;
	height: 2px;
	padding: 8px 8px 8px 8px;
	background: #ebebeb;
}
.label-38 {
	width: 58px;
	height: 19px;
	color: #512da8;
	font-family: "Asap";
	font-weight: 600;
	font-size: 14px;
	text-align: left;
}
.label-47 {
	width: 102px;
	height: 22px;
	color: #d1d6db;
	font-family: "Asap";
	font-weight: 500;
	font-size: 16px;
	text-align: left;
}
.wifi-icon-2 {
	width: 17px;
	height: 12px;
	opacity: 50%;
	background: #000000;
}
.battery-full-solid-icon-2 {
	width: 20px;
	height: 9px;
	opacity: 50%;
	background: #000000;
}
.rectangle-8-copy-6 {
	width: 280px;
	height: 48px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 5px 10px rgba(248, 95, 106, 0.23);
	background: #008080;
}
.label-1-copy-8 {
	width: 280px;
	height: 40px;
	color: #ffffff;
	font-family: "Asap";
	font-weight: 600;
	font-size: 17px;
	text-align: center;
}
.checkbox-1 {
	width: 280px;
	height: 23px;
	background: #512da8;
	color: #000000;
	border-color: #512da8;
	border-width: 2px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.paragraph-1 {
	width: 277px;
	height: 42px;
	color: #35424a;
	font-family: "Asap";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
}
.label-1-copy-10 {
	width: 244px;
	height: 35px;
	color: #989eb1;
	font-family: "Asap";
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
.undraw_mobile_app_re_catg {
	width: 251px;
	height: 203px;
}